html {
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
    background-image: linear-gradient(rgb(211, 211, 211) 1px, transparent 1px), linear-gradient(90deg, rgb(211, 211, 211) 1px, transparent 1px), linear-gradient(rgb(233, 233, 233) 1px, transparent 1px), linear-gradient(90deg, rgb(233, 233, 233) 1px, transparent 1px), linear-gradient(rgb(233, 233, 233) 1px, transparent 1px), linear-gradient(90deg, rgb(233, 233, 233) 1px, transparent 1px);
    background-size: 250px 250px, 250px 250px, 25px 25px, 25px 25px, 50px 50px, 50px 50px;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0, -1px -1px, -1px -1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

.add_input {
    padding: 10px;
    margin: 10px;
}

.form {
    padding: 10px;
    margin: 10px;
}

.form_head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_head * {
    margin: 5px;
}

.note_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note_description_date {
    font-size: 0.8em;
    margin-top: 10px;
}

.note {
    background-color: #e4ebf1;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    margin: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.note_priority {
    position: absolute;
    top: 0;
    left: -10px;
    transform: translateX(-100%);
}

.note_description {
    position: absolute;
    bottom: 5px;
    left: 0;
}

.edit {
    top: 0;
    right: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.material-icons {
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}

.error_container {
    color: red;
}

.green {
    background-color: rgba(18, 231, 96, 0.84);
}

.red {
    background-color: #e97373;
}

.High {
    color: red;
}

.Medium {
    color: rgb(214, 214, 4);
}

.Low {
    color: rgb(24, 197, 24);
}

.note_description_text {
    border: none;
}
