html {
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
    background-image: linear-gradient(rgb(211, 211, 211) 1px, transparent 1px), linear-gradient(90deg, rgb(211, 211, 211) 1px, transparent 1px), linear-gradient(rgb(233, 233, 233) 1px, transparent 1px), linear-gradient(90deg, rgb(233, 233, 233) 1px, transparent 1px), linear-gradient(rgb(233, 233, 233) 1px, transparent 1px), linear-gradient(90deg, rgb(233, 233, 233) 1px, transparent 1px);
    background-size: 250px 250px, 250px 250px, 25px 25px, 25px 25px, 50px 50px, 50px 50px;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0, -1px -1px, -1px -1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

.add_input {
    padding: 10px;
    margin: 10px;
}

.form {
    padding: 10px;
    margin: 10px;
}
